@font-face {
    font-family: FiraSans;
    src: url("../../assets/fonts/FiraSans-Regular.ttf");
    font-weight: 500;
}

.container {
    // width: 100%;
    height: 100%;
    padding-left: 75px;
    padding-right: 75px;
}